@import './base.css';
nav {
    display: flex;
    justify-content: flex-end;
}
nav ul {
    display: inherit;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;
    margin-right: 20px;
}